**/node_modules
**/dist
**/.turbo
**/coverage
**/*.tsbuildinfo
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
apps/web/e2e
apps/web/test-results
.git
.idea
.vscode
.env
.env.*
!.env.example
docs
